<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*
  	조각이름 : head
  	파라미터 : title
*/-->
<head th:fragment="head(title)">	<!-- thyleaf에서는 타입을(String) 적지 않음 -->
<meta charset="UTF-8">
<title th:text="${title}"></title>	<!-- 표현식은 thyleaf text안에 작성 -->
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
<script th:src="@{/js/moment-with-locales.js}"></script>
<script th:src="@{/summernote-0.8.18-dist/summernote-lite.js}"></script>
<script th:src="@{/summernote-0.8.18-dist/lang/summernote-ko-KR.min.js}"></script>
<link rel="stylesheet" th:href="@{/summernote-0.8.18-dist/summernote-lite.css}">
</head>
<body>

	<div th:fragment="body_title">		<!-- 조각내서 deatil에서 사용하기 위해 -->
		<h1>Welcome To My BLOG</h1>
		<hr>
	</div>
	
</body>
</html>